@model dynamic
<div class="heading-page">
    <div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">@Model</li>
            <li class="active">@Model</li>
        </ol>
        <h2>@Model</h2>
    </div>
</div>