@model string
    
<div class="container">
    <div class="form-actions no-color pull-right">
        @Html.ActionLink("Back to the list", "Index", Model, null, new { @class = "btn btn-default" })
        |
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
